<div class="p-4 bg-white shadow-inner text-center">
    <p class="text-gray-600">&copy; Sensority Labs</p>
</div>
{% if form.errors %}
    <div class="absolute bottom-0 right-0 left-0 bg-red-600 text-white p-4 rounded shadow-lg z-50" role="alert">
        <button onclick="this.parentElement.style.display='none';" class="absolute top-0 right-0 m-2 bg-transparent text-white text-xl font-bold">&times;</button>
        <p class="font-bold">There were errors in the form submission</p>
        <ul class="mt-2">
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% elif messages %}
    <div class="absolute bottom-0 right-0 left-0 text-white rounded shadow-lg z-50" role="alert">
    <button onclick="this.parentElement.style.display='none';" class="absolute top-0 right-0 m-2 bg-transparent text-white text-xl font-bold">&times;</button>
        {% for message in messages %}
            <div class="{% if message.tags == 'error' %} bg-red-600 {% else %} bg-teal-600 {% endif %}  px-4 py-2 rounded">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
