{% extends 'partials/layout.html' %}
{% load settings_value %}
{% load formify %}

{% block title %}Bots Management - User Dashboard{% endblock %}

{% block content %}
<div class="mb-4 text-xl font-semibold">Name: {{ bot.name }}</div>
<div class="bg-white shadow-md p-6 rounded mb-12">
    <div class="mb-2 text-l font-semibold">Details:</div>
    <div>ContainerID: {{ bot.container_id|slice:":12" }}</div>
    <div>Repo URL: {{ bot.repo_url }}</div>
    <div>Status: {{ status }}</div>
    <div class="mt-4">
        <button class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 disabled:opacity-50 disabled:hover:bg-green-500"
                {% if status == 'running' %} disabled {% endif %}
                onclick="window.location.href='{% url 'bots_manager' %}'"
                title="Start bot">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
              <path fill-rule="evenodd" d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z" clip-rule="evenodd" />
            </svg>
        </button>
        <button class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 disabled:opacity-50 disabled:hover:bg-red-500"
                {% if status != 'running' %} disabled {% endif %}
                onclick="window.location.href='{% url 'bots_manager' %}'"
                title="Stop bot">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
              <path fill-rule="evenodd" d="M4.5 7.5a3 3 0 0 1 3-3h9a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9Z" clip-rule="evenodd" />
            </svg>
        </button>
        <button class="bg-teal-500 text-white px-4 py-2 rounded hover:bg-teal-600 disabled:opacity-50 disabled:hover:bg-teal-500"
                onclick="window.location.href='{% url 'bots_manager' %}'"
                title="Rebuild bot">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
              <path fill-rule="evenodd" d="M4.755 10.059a7.5 7.5 0 0 1 12.548-3.364l1.903 1.903h-3.183a.75.75 0 1 0 0 1.5h4.992a.75.75 0 0 0 .75-.75V4.356a.75.75 0 0 0-1.5 0v3.18l-1.9-1.9A9 9 0 0 0 3.306 9.67a.75.75 0 1 0 1.45.388Zm15.408 3.352a.75.75 0 0 0-.919.53 7.5 7.5 0 0 1-12.548 3.364l-1.902-1.903h3.183a.75.75 0 0 0 0-1.5H2.984a.75.75 0 0 0-.75.75v4.992a.75.75 0 0 0 1.5 0v-3.18l1.9 1.9a9 9 0 0 0 15.059-4.035.75.75 0 0 0-.53-.918Z" clip-rule="evenodd" />
            </svg>
        </button>
    </div>
</div>
<div class="mb-4 text-xl font-semibold">Edit:</div>
<div class="bg-white shadow-md p-6 rounded mb-12">
    <form method="post" id="bot-form">
        {% csrf_token %}

        {% render_form form %}

        {% render_submit text='Save bot' css_class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" %}

        <button type="button" class="bg-gray-300 text-black px-4 py-2 rounded hover:bg-gray-400 ml-2" onclick="window.location.href='{% url 'bots_manager' %}'">Cancel</button>
    </form>
</div>
{% if bot.container_id %}
<div class="mb-4 text-xl font-semibold">Logs:</div>
<div class="bg-white shadow-md p-6 rounded mb-12">
    <div class="flex items-center mb-4">
        <div class="grow text-right px-2 py-2"><label for="tail">Tail:</label></div>
        <div class="flex-none w-1/3">
            <div class="relative">
                <input id="tail" type="number" class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md pl-3 pr-20 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"/>
                <button id="retrieve" class="absolute right-1 top-1 rounded bg-slate-800 py-1 px-2.5 border border-transparent text-center text-sm text-white transition-all shadow-sm hover:shadow focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" type="button">
                  Retrieve
                </button>
          </div>
        </div>
    </div>
    <div id="logs-container" class="rounded p-4 bg-black text-white overflow-scroll h-96 font-mono"></div>
</div>
{% endif %}
</div>
{% endblock %}

{% block scripts %}
{% if bot.container_id %}
<script>
    const logsContainer = document.getElementById('logs-container');
    const tailInput = document.getElementById('tail');
    const retrieveButton = document.getElementById('retrieve');

    let tail = 100; // default tail
    tailInput.value = tail;

    let ws;

    const botContainerId = "{{ bot.container_id }}";

    function getWSData(botContainerId, tail, container) {
        const wsURL = `{% settings_value "LOGS_STREAMER_URL" %}${botContainerId}?tail=${tail}`;
        ws = new WebSocket(wsURL);

        ws.onerror = function (error) {
            console.error('Error:', error);
        };

        ws.onmessage = function (event) {
            try {
                const message = JSON.parse(event.data);
                container.innerHTML += `<p>${message.time}: ${message.log}</p>`;
                container.scrollTop = logsContainer.scrollHeight;
            } catch (error) {
                container.innerHTML += `<p>${event.data}</p>`;
            }
        };
    }

    getWSData(botContainerId, tail, logsContainer);

    retrieveButton.addEventListener('click', function () {
        tail = tailInput.value;
        logsContainer.innerHTML = '';
        ws.close();
        getWSData(botContainerId, tail, logsContainer);
    });

</script>
{% endif %}
{% endblock %}
