{% extends 'partials/layout.html' %}
{% load formify %}
{% load custom_filters %}

{% block title %}User profile{% endblock %}

{% block content %}
<div class="mb-12">
    <div class="flex items-center justify-between mb-4">
        <h2 class="text-xl font-semibold">User: {{ object.email }}</h2>
    </div>
</div>
<div class="mb-12">
    <h2 class="text-xl font-semibold">Environment variables</h2>
    <form method="post" action="{% url 'set_env_vars' %}" id="env-vars-form">
        {% csrf_token %}
        <div class="grid gap-2 mb-6 md:grid-cols-2">
        <label for="env_name" class="block text-sm font-medium text-gray-900">Name</label>
        <label for="env_value" class="block text-sm font-medium text-gray-900">Value</label>
        {% for key, value in object.env_vars.items %}
            <div>
                <input name="env_name" type="text" id="env_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Env var name" value="{{ key }}"/>
            </div>
            <div>
                <input name="env_value" type="text" id="env_value" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Env var value" value="{{ value }}"/>
            </div>
        {% endfor %}
            <div>
                <input name="env_name" type="text" id="env_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Env var name" />
            </div>
            <div>
                <input name="env_value" type="text" id="env_value" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Env var value" />
            </div>
        </div>
        {% render_submit text='Save' css_class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600" %}
    </form>
</div>
<div class="mb-12">
    <div class="flex items-center justify-between mb-4">
        <h2 class="text-xl font-semibold">SSH Keys</h2>
        <button id="add-key-btn" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Add SSH Key</button>
    </div>
    <ul id="keys-list" class="bg-white shadow-md p-4 rounded">
        {% for key in object.ssh_keys.all %}
            <li class="flex flex-col md:flex-row items-start md:items-center justify-between border-b border-gray-200 py-4">
                <div class="flex-1 mb-2 md:mb-0">
                    <h3 class="font-semibold text-lg">{{ key.name }}</h3>
                    <p class="text-sm text-gray-600 break-all" title="{{ key.key }}">{{ key.key|shorten_ssh_key }}</p>
                </div>
                <div class="ml-0 md:ml-4">
                    <form method="post" action="{% url 'delete_ssh_key' key.uid %}" onsubmit="return confirm('Are you sure you want to delete this SSH Key?');">
                        {% csrf_token %}
                        <button type="submit" class="text-red-500 hover:text-red-700">Delete</button>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<!-- Add SSH Key Form (hidden by default, will be shown when clicking Add SSH Key) -->
<div id="add-ssh-key-form" class="bg-white shadow-md p-6 rounded mb-12 {% if form.errors %}block{% else %}hidden{% endif %}">
    <h2 class="text-xl font-semibold mb-4">Add a New SSH Key</h2>
    <form method="post" action="{% url 'create_ssh_key' %}" id="ssh-key-form">
        {% csrf_token %}

        {% render_form form %}

        {% render_submit text='Save key' css_class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600" %}

        <button type="button" class="bg-gray-300 text-black px-4 py-2 rounded hover:bg-gray-400 ml-2" onclick="window.location.href='{% url 'profile' %}'">Cancel</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.getElementById('add-key-btn').addEventListener('click', function() {
        document.getElementById('add-ssh-key-form').classList.toggle('hidden');
    });

    document.getElementById('cancel-key-btn').addEventListener('click', function() {
        document.getElementById('ssh-key-form').reset();
        document.getElementById('add-ssh-key-form').classList.add('hidden');
    });
</script>
{% endblock %}
